#family {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: pink;
  border-radius: 1rem;
}
#family h2 {
  padding: 0.5rem;
}
#family ul {
  position: absolute;
  bottom: calc(100% - 1px);
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.6);
}
#family.open #family ul, #family:hover #family ul {
  max-height: 300px;
}
#family ul li {
  padding: 0.5rem;
}
#family ul li a {
  display: inline-block;
  color: #333;
  width: 100%;
}
#family ul li:hover {
  background: rgba(238, 238, 238, 0.9);
}