#mainBanner .swiper-slide {
  background-color: #000;
  color: black;
  font-size: 100px;
  opacity: 0.8;
  transition: 0.5s;
}
#mainBanner .swiper-slide.swiper-slide-active {
  opacity: 0.5;
  font-size: 200px;
  background-color: red;
}

.swiper-pagination-bullet {
  border-radius: 30px;
}

.indicate span {
  background: transparent;
  transition: 0.3s;
}
.indicate span:hover {
  opacity: 0.6;
  background-color: white;
  color: black !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#faqcontent dt {
  position: relative;
  cursor: pointer;
}
#faqcontent dt:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
#faqcontent dt.expand {
  color: red !important;
}
#faqcontent dt.expand:after {
  transform: translateY(-50%) rotate(180deg);
}
#faqcontent dt.expand + dd {
  display: block !important;
}