#family {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: pink;

  h2 {
    border: 1px solid black;
    padding: 0.5rem;
  }

  &.open ul {
    max-height: 300px;
  }

  ul {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.6);

    #family.open & {
      max-height: 300px;
    }

    li {
      padding: 0.5rem;

      a {
        display: inline-block;
        color: #333;
        width: 100%;
      }

      &:hover {
        background: rgba(238, 238, 238, 0.9);
      }
    }
  }
}
