#mainBanner {
  .swiper-slide{
    background-color: #000;
    color: black;
    font-size: 100px;
    opacity: 0.8;
    transition: 0.5s;
    &.swiper-slide-active{
      opacity: 0.5;
      font-size: 200px;
      background-color: red;
    }
  }
}
.swiper-pagination-bullet {
  border-radius: 30px;
}
.indicate span {
  background: transparent;
  transition: 0.3s;
  &:hover{
    opacity: 0.6;
    background-color: white;
    color: black !important;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);
  }
}