.itemcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBanner {
  .swiper-slide{
    background-color: #000;
    color: white;
    font-size: 100px;
    opacity: 0.8;
    transition: 0.5s;
    &.swiper-slide-active{
      opacity: 0.5;
      font-size: 200px;
      background-color: red;
    }
  }
}